<div class="container" id="heder" *ngIf="screenWidth >= 1920">
  <div class="container_elemets">
    <div class="container_elemets-left">
      <div (click)="showMen()"><img alt="menu"
           src="../../../../assets/icons/icon-burger.svg" class="icon_menu">
    </div>
      <div><img alt="logo"
           src="../../../../assets/images/logo.webp" class="image_logo">
      </div>
      <div *ngIf="showMenu">
        <div class="menu">
          <div *ngFor="let item of menuArr">
            <div class="menu_item">{{item.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container_elemets-right">
      <div class="elemets_right-email">
        <div class="right_email-header">Пишите нам на email</div>
        <div class="right_email-txt">
          <img alt="mail"
               src="../../../../assets/icons/icon-mail.svg" class="icon_mail">
          info@diagnistics.by
        </div>
      </div>
      <div class="elements_right-phone">
        <div class="right_phone-txt">
          <img alt="phone"
               src="../../../../assets/icons/icon-phone.svg" class="icon_phone">
          <div>Есть вопросы? Звоните!</div>
        </div>
        <div class="right_phone-number">+375 (29) 456-45-45</div>
      </div>
    </div>
  </div>
</div>
<div class="border"></div>
<div class="container" *ngIf="screenWidth < 1920">
  <div class="container_elemets">
    <div class="container_elemets-left">
      <img alt="menu"
           (click)="showMen()"
           src="../../../../assets/icons/icon-burger.svg" class="icon_menu">
      <img alt="logo"
           src="../../../../assets/images/logo.webp" class="image_logo">
      <div *ngIf="showMenu">
        <div class="menu">
          <div *ngFor="let item of menuArr">
            <div class="menu_item">{{item.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container_elemets-right">
      <div class="elemets_right-email">
        <div class="right_email-header">Пишите нам на email</div>
        <div class="right_email-txt">
          <img alt="mail"
               src="../../../../assets/icons/icon-mail.svg" class="icon_mail">
          info@diagnistics.by
        </div>
      </div>
      <div class="elements_right-phone">
        <div class="right_phone-txt">
          <img alt="phone"
               src="../../../../assets/icons/icon-phone.svg" class="icon_phone">
          <div>Есть вопросы? Звоните!</div>
        </div>
        <div class="right_phone-number">+375 (29) 456-45-45</div>
      </div>
    </div>
  </div>
</div>
<div class="border"></div>

