<div class="container" *ngIf="screenWidth >= 1920">
  <div class="container_item1">МЫ РАБОТАЕМ В КОМПЛЕКСЕ</div>
  <div class="container_item2">чтобы вы не тратили время на поиск и организацю множества подрядчиков</div>
  <div class="container_item3">
    <div><img alt="slider"
              src="../../../../assets/images/sliderImg1.webp" class="slider"></div>
    <div class="container_item3-right">
      <div class="right_wrapper">
        <div class="item3_right-header">
          <div class="header_element1">
            <div class="header_element1-txt">шаг №1.</div>
          </div>
          <div class="header_element2">Подготовительные работы</div>
        </div>
        <div class="item3_right-info">Мы осматриваем здание, делаем замеры и проверяем
          наличие визуально заметных дефектов: трещин, коррозии, повреждения фундамента и т.д.
        </div>
        <div class="item3_right-face">
          <div><img alt="Face"
                    src="../../../../assets/images/face.webp" class="face"></div>
          <div class="right_faceTxt">“Задача этого этапа получить максимально полное представление
            о конструкции здания, условиях его эксплуатации и возможных слабых местах“
          </div>
        </div>
        <div class="right_face-info">Алексей, обследователь и главный инженер проектов</div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="screenWidth < 1919">
  <div class="container_item1">МЫ РАБОТАЕМ В КОМПЛЕКСЕ</div>
  <div class="container_item2">чтобы вы не тратили время на поиск и организацю множества подрядчиков</div>
  <div class="container_item3">
    <div><img alt="slider"
              src="../../../../assets/images/sliderImg1.webp" class="slider"></div>
    <div class="container_item3-right">
      <div class="right_wrapper">
        <div class="item3_right-header">
          <div class="header_element1">
            <div class="header_element1-txt">шаг №1.</div>
          </div>
          <div class="header_element2">Подготовительные работы</div>
        </div>
        <div class="item3_right-info">Мы осматриваем здание, делаем замеры и проверяем
          наличие визуально заметных дефектов: трещин, коррозии, повреждения фундамента и т.д.
        </div>
        <div class="item3_right-face">
          <div><img alt="Face"
                    src="../../../../assets/images/face.webp" class="face"></div>
          <div class="right_faceTxt">“Задача этого этапа получить максимально полное представление
            о конструкции здания, условиях его эксплуатации и возможных слабых местах“
          </div>
        </div>
        <div class="right_face-info">Алексей, обследователь и главный инженер проектов</div>
      </div>
    </div>
  </div>
</div>

